
/* import font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


body {
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

/* micro clearfix hack */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* body wrapper */
.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #141414;
}


/* form style */
form {
  float: left;
  margin-top: 33px;
  margin-left: 19px;
}

input {
  width: 200px;
  height: 25px;
  display: block;
  margin: 0 0 15px 0;
  padding-left: 5px;
}

input::placeholder {
  font-size: 1em;
  color: rgba(0, 0, 0, .5)
}

.btn {
  width: 210px;
  height: 40px;
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #141414;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #141414;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

/*------ map styling ------*/

#map {
  float: right;
  width: 700px;
  height: 400px;
}
